.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.swiper-container {
  width: 100%;
  margin: 2rem auto;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 500px;
}